{{#each this}}
  <li class="game-board__item" style="grid-column: {{coords.[0]}} / span {{span}};
  grid-row: {{coords.[1]}} / span {{span}};
  background-color: {{color}};" data-id="{{id}}" data-filled="{{filledCoords}}" data-points="{{points}}"
  ></li>
{{/each}}
